@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:ital,wght@1,300&display=swap');

body {
  font-family: 'Roboto Condensed', sans-serif;
}

.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}

.icon {
  width: 20px;
  height: 20px;
}

#mainHeader {
  text-align: center;
}